<div class="wrapper fadeInDown">
    <div>
        <div></div>
        <div></div>
        <h3>Login</h3>

        <form action="">
            <input type="text" name="username" id="username" class="fadeIn second" [(ngModel)]="username" placeholder="Username">
            <input type="password" name="password" id="password" class="fadeIn third" [(ngModel)]="password" placeholder="Password">
            <input type="submit" (click)="handleLogin()" class="fadeIn fourth" value="Log In">
        </form>
    </div>
</div>
